# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*.tmp
*.temp
~$*

# Power BI temporary files
*.pbit

# Visual Studio
.vs/
*.suo
*.user

# Office temporary files
~$*.xlsx
~$*.docx
